body{
  font-family: arial;
  font-size: small;
  margin-top: 23px;
  margin-bottom: 23px;
}
header{
  display: block;
}
center{display: block;
  text-align:center;
  text-align: -webkit-center;
  text-align: -moz-webkit-center;
}
.leftheader, .leftfooter{
  float: left;
}
.rightheader, .rightfooter{
  float: right;
}
.rightheader, .leftheader{
  padding-bottom: 200px;
}
.rightfooter, .leftfooter{
  margin-top: 75px;
  padding-top: 109px;
}
.searchbar{
  display: block;
  text-align: center;
  margin-bottom:44px
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 109px;
  padding-bottom:10px;
}
#logo{
  margin-top:80px;
  padding-top: 30px;
}
#gs, #lucky{
  text-align: center;
  text-align; -webkit-center;
  text-align: -moz-webkit-center;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#sbi{
  width: 400px;
  height: 20px;
}
#ad, #settings, #terms, #about, #gmail{
  padding-right: 25px;
}
#privacy, #images{
  margin-right: 20px;
}
#ad, #about{
  margin-left: 20px;
}
