body{
  font-family: arial;
  font-size: small;
}
center{display: block;
  text-align:center;
  text-align: -webkit-center;
  text-align: -moz-webkit-center;
}
.leftheader, .leftfooter{
  float: left;
}
.rightheader, .rightfooter{
  float: right;
}
.rightheader, .leftheader{
  padding-bottom: 200px;
}
.rightfooter, .leftfooter{
  padding-top: 200px;
}
.searchbar{
  display: block;
  text-align: center;
}
.logo{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-top: 109px;
}
#gs, #lucky{
  text-align: center;
  text-align; -webkit-center;
  text-align: -moz-webkit-center;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
}
#sbi{
  width: 400px;
  height: 20px;
}
